*,
*::after,
*::before{
    box-sizing: border-box;
    font-family: Gotham Rounded,sans-serif;


}
body{
    background: linear-gradient(to right, hsl(251,100%,50%),hsl(24,100%,50%));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.asosiy{
    width: 300px;
    height: 300px;
    background-color: #ffff;
    border-radius: 50%;
    border:5px solid black ;
    position: relative;

}
.raqam{
    --rotation:0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 2rem;

}
.raqam1{
    --rotation:30deg;
}
.raqam2{
    --rotation:60deg;
}
.raqam3{
    --rotation:90deg;
}
.raqam4{
    --rotation:120deg;
}
.raqam5{
    --rotation:150deg;
}
.raqam6{
    --rotation:180deg;
}
.raqam7{
    --rotation:210deg;
}
.raqam8{
    --rotation:240deg;
}
.raqam9{
    --rotation:270deg;
}
.raqam10{
    --rotation:300deg;
}
.raqam11{
    --rotation:330deg;
}
.mil{
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height: 148px;
    background-color: black;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));

}
.asosiy::after{
    content:'' ;
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    border-radius: 50%;

}
.mil.sekund{
    width: 5px;
    height: 45%;
    background-color: red;
    border: 1px solid #ffff;
}


.mil.daqiqa{
    width: 8px;
    height: 45%;
    background-color: blue;
    border: 1px solid black;
}

.mil.soat{
    width: 12px;
    height: 38%;
    background-color: yellow;
    border: 1px solid #000;
}